/*
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include "imx6q.dtsi"

/ {
	model = "BCM GR60MXD Board";
	compatible = "bcmtwn,imx6q-gr60mxd", "fsl,imx6q";

	memory@10000000 {
		device_type = "memory";
		reg = <0x10000000 0x40000000>;
	};

	panel {
		compatible = "tianma,tm070rvhg04";
		backlight = <&backlight>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&display_out>;
			};
		};
	};

	backlight: pwm-backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm4 0 5000000>;
		/* 
			step = (8 - 5) / 7 = ~0.43
			2 ^ (5 + (i * step))
		*/
		brightness-levels = <32 43 58 78 105 141 190 256>;
		default-brightness-level = <7>;
    	enable-gpios = <&gpio4 0x9 0x0>;
	};

	disp0 {
		compatible = "fsl,imx-parallel-display";
		#address-cells = <1>;
		#size-cells = <0>;
		interface-pix-fmt = "rgb24";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lcd>;
		status = "okay";

		port@0 {
			reg = <0>;

			display_in: endpoint {
				remote-endpoint = <&ipu1_di0_disp0>;
			};
		};

		port@1 {
			reg = <1>;

			display_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <0x1>;
		#size-cells = <0x0>;

		reg_usb_h1_vbus: usb_h1_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb_h1_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
            enable-active-high;
		};

		reg_usb_otg_vbus: usb_otg_vbus {
			compatible = "regulator-fixed";
			regulator-name = "usb_otg_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio2 3 GPIO_ACTIVE_HIGH>;
            enable-active-high;
		};

		reg_2p5v: regulator@0 {
			compatible = "regulator-fixed";
			regulator-name = "2P5V";
			regulator-min-microvolt = <2500000>;
			regulator-max-microvolt = <2500000>;
			regulator-always-on;
		};

		reg_3p3v: regulator@1 {
			compatible = "regulator-fixed";
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
	};
};

&ipu1_di0_disp0 {
	remote-endpoint = <&display_in>;
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet>;
	phy-mode = "rgmii";
	phy-reset-gpios = <&gpio1 27 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&pcie {
	reset-gpio = <&gpio7 11 GPIO_ACTIVE_LOW>;
	disable-gpio = <&gpio1 9 GPIO_ACTIVE_LOW>;
	wake-gpio = <&gpio6 11 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&pwm4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm4>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	fsl,uart-has-rtscts;
	linux,rs485-enabled-at-boot-time;
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_bt>;
	fsl,uart-has-rtscts;
	status = "disabled";
	/* for DTE mode, add below change */
	/* fsl,dte-mode; */
	/* pinctrl-0 = <&pinctrl_uart5dte_1>; */
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	status = "okay";
};

&usbh1 {
	vbus-supply = <&reg_usb_h1_vbus>;
	status = "okay";
};

&usbotg {
	vbus-supply = <&reg_usb_otg_vbus>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usbotg>;
	imx6-usb-charger-detection;
	status = "okay";
};

&usdhc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wifi>;
	bus-width = <4>;
	no-1-8-v;
	status = "okay";
};

&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3>;
	cd-gpios = <&gpio7 0 GPIO_ACTIVE_LOW>;
	no-1-8-v;
	keep-power-in-suspend;
	enable-sdio-wakeup;
	status = "okay";
};

&usdhc4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc4>;
	bus-width = <8>;
	non-removable;
	no-1-8-v;
	keep-power-in-suspend;
	status = "okay";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gr60mxd>;

	gr60mxd {
		pinctrl_gr60mxd: gr60mxdgrp {
			fsl,pins = <
				MX6QDL_PAD_GPIO_0__GPIO1_IO00  		0x80000000	/* SW_RST */
				MX6QDL_PAD_GPIO_2__GPIO1_IO02		0x80000000	/* CAN BUS standby mode control */
				MX6QDL_PAD_GPIO_4__GPIO1_IO04		0x80000000	/* VER_B0 */
				MX6QDL_PAD_GPIO_5__GPIO1_IO05		0x80000000	/* VER_B1 */
				MX6QDL_PAD_GPIO_9__GPIO1_IO09		0x80000000	/* PCIE_DIS_B */
				MX6QDL_PAD_KEY_COL1__GPIO4_IO08		0x80000000	/* L0_PWEREN */
				MX6QDL_PAD_KEY_ROW1__GPIO4_IO09		0x80000000	/* BL0_PWEREN */
				MX6QDL_PAD_KEY_COL2__GPIO4_IO10		0x80000000	/* BL0EN_GPO */
				MX6QDL_PAD_NANDF_ALE__GPIO6_IO08	0x80000000	/* CAP_TCH_INT0 */
				MX6QDL_PAD_NANDF_WP_B__GPIO6_IO09	0x80000000	/* GPIO_LED1 */
				MX6QDL_PAD_NANDF_RB0__GPIO6_IO10	0x80000000	/* GPIO_LED2 */
				MX6QDL_PAD_NANDF_CS0__GPIO6_IO11	0x80000000	/* PCIE_WAKE */
				MX6QDL_PAD_NANDF_CS2__GPIO6_IO15	0x80000000	/* PWR_EN */
				MX6QDL_PAD_SD3_DAT5__GPIO7_IO00		0x80000000	/* SD3_CD_B */
				MX6QDL_PAD_SD3_DAT4__GPIO7_IO01		0x80000000	/* WL_WAKEUP */ /* not use now */
				MX6QDL_PAD_GPIO_16__GPIO7_IO11		0x80000000	/* PCIE_RST_B */
				MX6QDL_PAD_NANDF_D0__GPIO2_IO00		0x80000000	/* LCD_RST */
				MX6QDL_PAD_NANDF_D1__GPIO2_IO01		0x80000000	/* USBV1_EN */
				MX6QDL_PAD_NANDF_D2__GPIO2_IO02		0x80000000	/* USBV2_EN */
				MX6QDL_PAD_NANDF_D3__GPIO2_IO03		0x80000000	/* OTG_PWR_EN */
				MX6QDL_PAD_GPIO_19__GPIO4_IO05		0x80000000	/* BT_REG_ON */
        MX6QDL_PAD_NANDF_CS3__GPIO6_IO16  0x80000000
        MX6QDL_PAD_NANDF_D7__GPIO2_IO07   0x80000000
			>;
		};

		pinctrl_lcd: lcdgrp-1 {
			fsl,pins = <
				MX6QDL_PAD_DI0_DISP_CLK__IPU1_DI0_DISP_CLK 0x10
				MX6QDL_PAD_DI0_PIN15__IPU1_DI0_PIN15       0x10
				MX6QDL_PAD_DI0_PIN2__IPU1_DI0_PIN02        0x10
				MX6QDL_PAD_DI0_PIN3__IPU1_DI0_PIN03        0x10
				MX6QDL_PAD_DISP0_DAT0__IPU1_DISP0_DATA00   0x10
				MX6QDL_PAD_DISP0_DAT1__IPU1_DISP0_DATA01   0x10
				MX6QDL_PAD_DISP0_DAT2__IPU1_DISP0_DATA02   0x10
				MX6QDL_PAD_DISP0_DAT3__IPU1_DISP0_DATA03   0x10
				MX6QDL_PAD_DISP0_DAT4__IPU1_DISP0_DATA04   0x10
				MX6QDL_PAD_DISP0_DAT5__IPU1_DISP0_DATA05   0x10
				MX6QDL_PAD_DISP0_DAT6__IPU1_DISP0_DATA06   0x10
				MX6QDL_PAD_DISP0_DAT7__IPU1_DISP0_DATA07   0x10
				MX6QDL_PAD_DISP0_DAT8__IPU1_DISP0_DATA08   0x10
				MX6QDL_PAD_DISP0_DAT9__IPU1_DISP0_DATA09   0x10
				MX6QDL_PAD_DISP0_DAT10__IPU1_DISP0_DATA10  0x10
				MX6QDL_PAD_DISP0_DAT11__IPU1_DISP0_DATA11  0x10
				MX6QDL_PAD_DISP0_DAT12__IPU1_DISP0_DATA12  0x10
				MX6QDL_PAD_DISP0_DAT13__IPU1_DISP0_DATA13  0x10
				MX6QDL_PAD_DISP0_DAT14__IPU1_DISP0_DATA14  0x10
				MX6QDL_PAD_DISP0_DAT15__IPU1_DISP0_DATA15  0x10
				MX6QDL_PAD_DISP0_DAT16__IPU1_DISP0_DATA16  0x10
				MX6QDL_PAD_DISP0_DAT17__IPU1_DISP0_DATA17  0x10
				MX6QDL_PAD_DISP0_DAT18__IPU1_DISP0_DATA18  0x10
				MX6QDL_PAD_DISP0_DAT19__IPU1_DISP0_DATA19  0x10
				MX6QDL_PAD_DISP0_DAT20__IPU1_DISP0_DATA20  0x10
				MX6QDL_PAD_DISP0_DAT21__IPU1_DISP0_DATA21  0x10
				MX6QDL_PAD_DISP0_DAT22__IPU1_DISP0_DATA22  0x10
				MX6QDL_PAD_DISP0_DAT23__IPU1_DISP0_DATA23  0x10
			>;
		};

		pinctrl_uart1: uart1grp-2 {
			fsl,pins = <
				MX6QDL_PAD_EIM_D20__UART1_RTS_B     0x1b0b1
				MX6QDL_PAD_SD3_DAT6__UART1_RX_DATA  0x1b0b1
				MX6QDL_PAD_SD3_DAT7__UART1_TX_DATA  0x1b0b1
			>;
		};

		pinctrl_bt: btgrp {
			fsl,pins = <
				MX6QDL_PAD_EIM_D26__UART2_TX_DATA     	0x1b0b1
				MX6QDL_PAD_EIM_D27__UART2_RX_DATA  		0x1b0b1
				MX6QDL_PAD_EIM_D28__UART2_CTS_B  		0x1b0b1
				MX6QDL_PAD_EIM_D29__UART2_RTS_B  		0x1b0b1
			>;
		};

		pinctrl_uart4: uart4grp {
			fsl,pins = <
				MX6QDL_PAD_KEY_COL0__UART4_TX_DATA	0x1b0b1
				MX6QDL_PAD_KEY_ROW0__UART4_RX_DATA	0x1b0b1
			>;
		};

		pinctrl_pwm4: pwm4grp-1 {
			fsl,pins = <
				MX6QDL_PAD_SD1_CMD__PWM4_OUT 0x1b0b1
			>;
		};

		pinctrl_enet: enetgrp {
			fsl,pins = <
				MX6QDL_PAD_RGMII_RXC__RGMII_RXC	        0x1b0b0
				MX6QDL_PAD_RGMII_RD0__RGMII_RD0	        0x1b0b0
				MX6QDL_PAD_RGMII_RD1__RGMII_RD1	        0x1b0b0
				MX6QDL_PAD_RGMII_RD2__RGMII_RD2	        0x1b0b0
				MX6QDL_PAD_RGMII_RD3__RGMII_RD3	        0x1b0b0
				MX6QDL_PAD_RGMII_RX_CTL__RGMII_RX_CTL   0x1b0b0
				MX6QDL_PAD_RGMII_TXC__RGMII_TXC	        0x1b0b0
				MX6QDL_PAD_RGMII_TD0__RGMII_TD0	        0x1b0b0
				MX6QDL_PAD_RGMII_TD1__RGMII_TD1	        0x1b0b0
				MX6QDL_PAD_RGMII_TD2__RGMII_TD2	        0x1b0b0
				MX6QDL_PAD_RGMII_TD3__RGMII_TD3	        0x1b0b0
				MX6QDL_PAD_RGMII_TX_CTL__RGMII_TX_CTL   0x1b0b0
				MX6QDL_PAD_ENET_REF_CLK__ENET_TX_CLK	0x1b0b0
				MX6QDL_PAD_ENET_MDIO__ENET_MDIO	        0x1b0b0
				MX6QDL_PAD_ENET_MDC__ENET_MDC	        0x1b0b0
				MX6QDL_PAD_ENET_RXD0__GPIO1_IO27		0x80000000/* GE_nRST	*/
				MX6QDL_PAD_ENET_TX_EN__GPIO1_IO28       0x80000000/* PHY_INT	*/
			>;
		};

		pinctrl_usbotg: usbotggrp {
			fsl,pins = <
				MX6QDL_PAD_GPIO_1__USB_OTG_ID	0x17059
			>;
		};

		pinctrl_wifi: wifigrp {
			fsl,pins = <
				MX6QDL_PAD_SD2_CMD__SD2_CMD			0x17059
				MX6QDL_PAD_SD2_CLK__SD2_CLK			0x10059
				MX6QDL_PAD_SD2_DAT0__SD2_DATA0		0x17059
				MX6QDL_PAD_SD2_DAT1__SD2_DATA1		0x17059
				MX6QDL_PAD_SD2_DAT2__SD2_DATA2		0x17059
				MX6QDL_PAD_SD2_DAT3__SD2_DATA3		0x17059
			>;
		};

		pinctrl_usdhc3: usdhc3grp {
			fsl,pins = <
				MX6QDL_PAD_SD3_CMD__SD3_CMD			0x17059
				MX6QDL_PAD_SD3_CLK__SD3_CLK			0x10059
				MX6QDL_PAD_SD3_DAT0__SD3_DATA0		0x17059
				MX6QDL_PAD_SD3_DAT1__SD3_DATA1		0x17059
				MX6QDL_PAD_SD3_DAT2__SD3_DATA2		0x17059
				MX6QDL_PAD_SD3_DAT3__SD3_DATA3		0x17059
			>;
		};

		pinctrl_usdhc4: usdhc4grp {
			fsl,pins = <
				MX6QDL_PAD_SD4_CMD__SD4_CMD			0x17059
				MX6QDL_PAD_SD4_CLK__SD4_CLK			0x10059
				MX6QDL_PAD_SD4_DAT0__SD4_DATA0		0x17059
				MX6QDL_PAD_SD4_DAT1__SD4_DATA1		0x17059
				MX6QDL_PAD_SD4_DAT2__SD4_DATA2		0x17059
				MX6QDL_PAD_SD4_DAT3__SD4_DATA3		0x17059
				MX6QDL_PAD_SD4_DAT4__SD4_DATA4		0x17059
				MX6QDL_PAD_SD4_DAT5__SD4_DATA5		0x17059
				MX6QDL_PAD_SD4_DAT6__SD4_DATA6		0x17059
				MX6QDL_PAD_SD4_DAT7__SD4_DATA7		0x17059
			>;
		};

	};
};

